@use 'sass:map';
@use '@/styles/variables' as *;
@use '@/styles/mixins' as *;

.button:focus {
  outline: none;
}

.button {
  @include button-base;
  padding: var(--spacing-sm) var(--spacing-md);
  font-size: map.get($font-sizes, 'base');

  a {
    color: inherit;
    text-decoration: none;
    font-weight: inherit;
  }

  // Size variants
  &.small {
    padding: var(--spacing-xs) var(--spacing-sm);
    font-size: map.get($font-sizes, 'sm');
  }

  &.large {
    padding: var(--spacing-md) var(--spacing-lg);
    font-size: map.get($font-sizes, 'lg');
  }

  // Style variants
  &.primary {
    background-color: var(--primary-color);
    color: white;

    &:hover:not(:disabled) {
      background-color: var(--primary-color-dark);
    }
  }

  &.secondary {
    background-color: var(--secondary-color);
    color: white;

    &:hover:not(:disabled) {
      background-color: var(--secondary-color-dark);
    }
  }

  &.accent {
    background-color: var(--accent-color);
    color: var(--text-color-secondary);

    &:hover:not(:disabled) {
      background-color: var(--primary-color-dark);
    }
  }

  &.outline {
    background-color: transparent;
    border: 1px solid var(--primary-color);
    color: var(--primary-color);

    &:hover:not(:disabled) {
      background-color: var(--primary-color);
      color: white;
    }
  }

  &.text {
    background-color: transparent;
    color: var(--primary-color);
    padding: var(--spacing-xs);

    &:hover:not(:disabled) {
      background-color: rgba(0, 123, 255, 0.1);
    }
  }

  &.fullWidth {
    width: 100%;
  }

  // Style variants
  &.nav {
    background-color: var(--background-color-white);
    color: var(--text-color-dark);
    font-weight: 600;
    font-size: 18px;


    &:hover:not(:disabled) {
      background-color: var(--background-color-white);
      color: var(--primary-color);
      opacity: 66%;
    }
  }

  &.z-energy-variant-01 {
    background-color: var(--primary-color-light-purple);
    color: #2B259B;
    padding: var(--spacing-xs) var(--spacing-sm);
    font-size: map.get($font-sizes, 'sm');
    width: 139px;
    height: 24px;
    font-size: 12px;
    font-weight: 600;

    &:hover:not(:disabled) {
      background-color: var(--primary-color-purple);
      color: var(--background-color);
    }

    &.active {
      background-color: var(--primary-color-purple);
      color: var(--background-color);
    }
  }

  &.z-energy-variant-02 {
    background: var(--button-gradient, --color-orange);
    color: var(--text-color-light);
    padding: var(--spacing-xs) var(--spacing-sm);
    font-size: map.get($font-sizes, 'sm');
    width: 139px;
    height: 46px;
    font-size: 20px;
    font-weight: 700;

    &:hover:not(:disabled) {
      background: var(--button-gradient, --color-orange);
      color: var(--text-color-light);
      opacity: 56%;
    }
  }

  &.z-energy-variant-03 {
    background: var(--background-color-white);
    color: var(--text-color-dark);
    padding: var(--spacing-xs) var(--spacing-sm);
    font-size: map.get($font-sizes, 'sm');
    width: 139px;
    height: 46px;
    font-size: 18px;
    font-weight: 700;

    &:hover:not(:disabled) {
      background: var(--background-color-white);
      color: var(--text-color-orange);
    }

  }

  &.z-energy-variant-04 {
    background: var(--button-gradient, --color-orange);
    color: var(--text-color-light);
    padding: var(--spacing-xs) var(--spacing-sm);
    font-size: map.get($font-sizes, 'sm');
    width: 170px;
    height: 46px;
    font-size: 18px;
    font-weight: 700;
    border-radius: 23px;
    justify-content: space-between;
    padding-left: 24px;
    padding-right: 6px;

    &:hover:not(:disabled) {
      background: var(--button-gradient, --color-orange);
      color: var(--text-color-light);
      opacity: 56%;
    }

    &.button__circle {
      align-items: center;
      background-color: var(--background-color);
      border-radius: 50%;
      display: flex;
      flex-direction: row;
      height: 35px;
      min-height: 35px;
      min-width: 35px;
      justify-content: center;
      margin-left: 10px;
      overflow: hidden;
      position: relative;
      width: 35px;
    }

    span {

      span {
        color: var(--text-color-dark);
      }

    }

  }

  &.z-energy-variant-05 {
    background: var(--search-tab-color);
    color: var(--search-tab-color-active);
    padding: var(--spacing-xs) var(--spacing-sm);
    font-size: map.get($font-sizes, 'sm');
    width: 174px;
    height: 32px;
    font-size: 14px;
    font-weight: 700;
    border-radius: 0px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;

    &:hover:not(:disabled) {
      background: var(--search-tab-color-hover);
      color: var(--search-tab-color-active);
    }

    &.active {
      background: var(--search-tab-color-active);
      color: var(--text-color-light);
    }
  }

  &.z-energy-variant-06 {
    background: var(--button-gradient, --color-orange);
    color: var(--text-color-light);
    padding: var(--spacing-xs) var(--spacing-sm);
    font-size: map.get($font-sizes, 'sm');
    width: 190px;
    height: 46px;
    font-size: 18px;
    font-weight: 700;
    border-radius: 23px;
    justify-content: space-between;
    padding-left: 24px;
    padding-right: 6px;

    &:hover:not(:disabled) {
      background: var(--button-gradient, --color-orange);
      color: var(--text-color-light);
      opacity: 56%;
    }

    &.button__circle {
      align-items: center;
      background-color: var(--background-color);
      color: var(--color-orange);
      border-radius: 50%;
      display: flex;
      flex-direction: row;
      height: 35px;
      min-height: 35px;
      min-width: 35px;
      justify-content: center;
      margin-left: 10px;
      overflow: hidden;
      position: relative;
      width: 35px;
    }
  }

  &.z-energy-variant-06 {
    background: var(--button-gradient, --color-orange);
    color: var(--text-color-light);
    padding: var(--spacing-xs) var(--spacing-sm);
    font-size: map.get($font-sizes, 'sm');
    width: 190px;
    height: 46px;
    font-size: 18px;
    font-weight: 700;
    border-radius: 23px;
    justify-content: space-between;
    padding-left: 24px;
    padding-right: 6px;

    &:hover:not(:disabled) {
      background: var(--button-gradient, --color-orange);
      color: var(--text-color-light);
      opacity: 56%;
    }

    &.button__circle {
      align-items: center;
      background-color: var(--background-color);
      color: var(--color-orange);
      border-radius: 50%;
      display: flex;
      flex-direction: row;
      height: 35px;
      min-height: 35px;
      min-width: 35px;
      justify-content: center;
      margin-left: 10px;
      overflow: hidden;
      position: relative;
      width: 35px;
    }


    span {

      span {
        color: var(--text-color-dark);
      }

    }

  }

  &.z-energy-variant-07-right {
    background: var(--button-gradient, --color-orange);
    color: var(--text-color-light);
    padding: var(--spacing-xs) var(--spacing-sm);
    font-size: map.get($font-sizes, 'sm');
    width: 139px;
    height: 30px;
    font-size: 12px;
    font-weight: 600;
    border-radius: 15px;
    justify-content: space-between;
    padding-left: 28px;
    padding-right: 6px;

    &:hover:not(:disabled) {
      background: var(--button-gradient, --color-orange);
      color: var(--text-color-light);
      opacity: 56%;
    }

    span {

      span {
        color: var(--text-color-dark);
      }

    }

  }

  &.z-energy-variant-07-left {
    background: var(--button-gradient, --color-orange);
    color: var(--text-color-light);
    padding: var(--spacing-xs) var(--spacing-sm);
    font-size: map.get($font-sizes, 'sm');
    width: 139px;
    height: 30px;
    font-size: 12px;
    font-weight: 600;
    border-radius: 15px;
    justify-content: space-between;
    padding-left: 6px;
    padding-right: 28px;

    &:hover:not(:disabled) {
      background: var(--button-gradient, --color-orange);
      color: var(--text-color-light);
      opacity: 56%;
    }

    span {

      span {
        color: var(--text-color-dark);
      }

    }

  }

  &.use-location {
    background: transparent;
    color: var(--location-search);
    padding: var(--spacing-xs) var(--spacing-sm);
    width: 250px;
    height: 26px;
    font-size: 19px;
    font-weight: 500;
  }

  // Handle nested elements
  a {
    display: inline-flex;
    align-items: center;
    gap: var(--spacing-xs);
  }

  &.social-icon {
    background: transparent;
    color: transparent;
    padding: var(--spacing-xs) var(--spacing-xs);
    width: 40px;
    height: 40px;
    font-size: 0px; 

    &:hover:not(:disabled) {
      opacity: 66%;
    }

    &.active {
      opacity: 66%;
    }

  }

  &.locator_hours__button {
    align-items: center;
    -moz-appearance: none;
    appearance: none;
    -webkit-appearance: none;
    background: none;
    color: var(--color-deep-ocean-blue);
    cursor: pointer;
    display: flex;
    flex-direction: row;
    margin-bottom: 0;
    padding: 4px 10px 4px 0;
  }

  span {
    display: inline-flex;
    align-items: center;
  }
}


